
<div class="align-content-center align-items-center">
  <a routerLink="/crud"><img src="assets/images/dashboard.png" class="dashboard-image"></a>
</div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Github</h4>
        <ul>
          <li><a href="#">Link de repositorio</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Desarrollador</h4>
        <ul>
          <li><a href="https://www.linkedin.com/in/alex-magna-94631b185/">Alex Magna</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Proyectos</h4>
        <ul>
          <li><a href="https://play.google.com/store/apps/details?id=com.github.beelzebu.duocoeste&hl=es_CL&gl=US">DuocOeste</a>
          </li>
          <li><a href="https://github.com/Alexrmsu"> Angular Template </a></li>
          <li><a href="https://github.com/Alexrmsu"> Parroquia Santa Ana</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>RSS</h4>
        <div class="social-links">
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/alex-magna-94631b185/">
                <img src="assets/images/linkedin.svg">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<router-outlet></router-outlet>
