
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Velka</h4>
        <ul>
          <li><a href="#">Acerca de nosotros</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Miembros del equipo</h4>
        <ul>
          <li><a href="https://www.linkedin.com/in/ruben-manriquez-salles/">Rubén Manríquez</a></li>
          <li><a href="https://www.linkedin.com/in/alex-magna-94631b185/">Alex Magna</a></li>
          <li><a href="https://www.linkedin.com/in/jaime-su%C3%A1rez-221564184/">Jaime Suárez</a></li>
          <li><a href="#">Gonzalo Gonzalez</a></li>
          <li><a href="https://www.linkedin.com/in/braulio-herrera-60956018b/">Braulio Herrera</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Proyectos</h4>
        <ul>
          <li><a href="https://play.google.com/store/apps/details?id=com.github.beelzebu.duocoeste&hl=es_CL&gl=US">DuocOeste</a>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Nuestras Redes sociales</h4>
        <div class="social-links">
          <a href="#"><img src="assets/github.svg"></a>
          <a href="#"><img src="assets/instagram.svg"></a>
          <a href="#"><img src="assets/linkedin.svg"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
